body{
    text-align: center;
}
.main{
    display: flex;
    margin: 30px;
    margin-top: 70px !important;
}
.cate , .dish{
    margin: 40px !important;
    margin-left: 220px !important;
}
.ad{
    font-size: 45px !important;
    color: white !important;
    margin: 30px;
    background-color: black;
}